
@{
    ViewBag.Title = "_Layout";
}
<html>
<head>
    <link href="@Url.Content("~/Styles/_layout.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/signalr.js/2.4.3/jquery.signalR.min.js" integrity="sha512-GA74ohU6Jbe86KnYUjZvXq73wkBbhxNJ0vWBrZ/fU8cO+pAqaw6zi833NAnzAgRf7YSaqa9QB4TX3VLns/J9uw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>


        function logOut() {
            localStorage.setItem('token', null)
            window.location.replace("/Login/Login");
        }
        $(document).ready(function () {
        });
    </script>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/Home/Index">Main page</a>
        <a class="logout"  style="cursor: pointer" onclick ="logOut()">Logout</a>
    </div>

</body>
</html>
@RenderBody()

